@import "tailwindcss";
@plugin "daisyui";

body{
    background-color: #EFEFEF;
    min-height: 100vh;
}

/* Personal common styles components */
.btn-my-default{
    background-color: #176AE5;
    color: white;
    font-weight: 600;
    padding: 8px 16px;
    border-radius: 40px;
}
.active{
    text-decoration: underline;
    
}
.available-btn{
    color: green;
    font-weight: 600;
    padding: 8px 12px;
    border-radius: 50px;
}
.experience-btn{
    color: blue;
    padding: 8px 12px;
    border-radius: 50px;
}
.yellow-badge{
    color: orange;
    font-weight: 400;
    padding: 5px 10px;
    border-radius: 50px;
    background-color: #ffedd4;
}